*.cjo
*.cjo.flag
*.cj.macrocall
.cjpm/
cjpm.lock
/librefine.a
log.txt
target/
/tests/*.cj

# Generated/tracked artifacts
.cache/
.vscode/
build/
*.ast
*.idx
*.so
*.a
_c_test$
refine_test$
macro_test$
hook_test$
cov_output/
